<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" context="width=device-width, initial-scale=1.0">
	<title>Social Network</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
  </head>
  
  <body>
	<header>
	  <nav>
		<a href="/">Home</a>
		
		{{if .Session.IsLoggedIn}}
		<a href="/@{{.Session.User.Username}}">{{.Session.User.Username}}</a>
		
		<form action="/logout" method="POST" style="display: contents;">
		  <button>Logout</button>
		</form>
		
		{{else}}
		<a href="/login">Login</a>
		{{end}}
	  </nav>
	</header>
	<hr>
	
	<main>
	  <h1>Home</h1>
	  {{if .Session.IsLoggedIn}}
	  <form action="/posts" method="POST">
		<textarea name="content" area-label="content" placeholder="What's new?"
				  required>{{.Form.Get "content"}}</textarea>
		{{with .Err}}
		<p>Could not create post: <code>{{.Error}}</code></p>
		{{end}}
		<button>Post</button>
	  </form>
	  {{end}}

	  {{if eq (len .Posts) 0}}
	  <p>No posts yet.</p>
	  {{else}}
	  {{range $post := .Posts}}
	  <article>
		<div>

		  <a href="/@{{$post.Username}}">
			<h2>{{$post.Username}}</h2>
		  </a>

		  <a href="/p/{{$post.ID}}">
			<time datetime="{{$post.CreatedAt}}">{{$post.CreatedAt}}</time>
		  </a>
		  
		</div>

		<p>{{$post.Content}}</p>
	  </article>
	  {{end}}
	  {{end}}
	  
	</main>
  </body>
  
</html>
