<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" context="width=device-width, initial-scale=1.0">
	<title>Social Network</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
  </head>
  
  <body>
	<header>
	  <nav>
		<a href="/">Home</a>
		
		{{if .Session.IsLoggedIn}}
		<a href="/@{{.Session.User.Username}}">{{.Session.User.Username}}</a>
		
		<form action="/logout" method="POST" style="display: contents;">
		  <button>Logout</button>
		</form>
		
		{{else}}
		<a href="/login">Login</a>
		{{end}}
	  </nav>
	</header>
	<hr>
	
	<main>
	  <h1>Home</h1>
	  {{if .Session.IsLoggedIn}}
	  <form action="/posts" method="POST">
		<textarea name="content" area-label="content" placeholder="What's new?"
				  required>{{.Form.Get "content"}}</textarea>
		{{with .Err}}
		<p>Could not create post: <code>{{.Error}}</code></p>
		{{end}}
		<button>Post</button>
	  </form>
	  {{end}}

	  <div class="tab">
		{{if .Session.IsLoggedIn}}
		<button class="tablinks" onclick="openPosts(event, 'for-you-tab')" id="defaultOpen">For you</button>
		<button class="tablinks" onclick="openPosts(event, 'following-tab')">Following</button>
		{{end}}
	  </div>

	  <div id="for-you-tab" class="tabcontent">
		{{if eq (len .Posts) 0}}
		<p>No posts yet.</p>
		{{else}}
		{{range $post := .Posts}}
		<article>
		  <div>

			<a href="/@{{$post.Username}}">
			  <h2>{{$post.Username}}</h2>
			</a>

			<a href="/p/{{$post.ID}}">
			  <time datetime="{{$post.CreatedAt}}">{{$post.CreatedAt}}</time>
			</a>
			
		  </div>

		  <p>{{$post.Content}}</p>
		</article>
		{{end}}
		{{end}}
	  </div>

	  {{if .Session.IsLoggedIn}}
	  <div id="following-tab" class="tabcontent">
		{{if eq (len .FollowPosts) 0}}
		<p>No posts yet.</p>
		{{else}}
		{{range $post := .FollowPosts}}
		<article>
		  <div>

			<a href="/@{{$post.Username}}">
			  <h2>{{$post.Username}}</h2>
			</a>

			<a href="/p/{{$post.ID}}">
			  <time datetime="{{$post.CreatedAt}}">{{$post.CreatedAt}}</time>
			</a>
			
		  </div>

		  <p>{{$post.Content}}</p>
		</article>
		{{end}}
		{{end}}
	  </div>
	  {{end}}

	  <script>
		function openPosts(evt, cityName) {
			var i, tabcontent, tablinks;
			tabcontent = document.getElementsByClassName("tabcontent");
			for (i = 0; i < tabcontent.length; i++) {
				tabcontent[i].style.display = "none";
			}
			tablinks = document.getElementsByClassName("tablinks");
			for (i = 0; i < tablinks.length; i++) {
				tablinks[i].className = tablinks[i].className.replace(" active", "");
			}
			document.getElementById(cityName).style.display = "block";
			evt.currentTarget.className += " active";
		}

		document.getElementById("defaultOpen").click();
	  </script>
	  
	</main>
  </body>
  
</html>
